page-list {
  .realestate-image {
    width: 100%;
    height: 180px;
  }

  .corner-ribbon {
    z-index: 10;
    width: 100px;
    position: absolute;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: #f0f0f0;
    padding: 3px;

    &.left {
      background: #387ef5;
      top: 15px;
      left: 15px;
    }

    &.bottom {
      background: #f53d3d;
      top: 50px;
    }

    &.right {
      background: #32db64;
      right: 15px;
      top: 15px;
      a {
        color: white;
      }
    }
  }

  .bold {
    font-weight: bold;
    font-size: 30px;
  }
}
