<ion-header>
    <ion-navbar>
        <ion-title>List</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-fab top right>
            <button ion-fab>
                <ion-icon name="document"></ion-icon>
            </button>
            <ion-fab-list side="left">
                <button ion-fab (click)="pdf()">
                    <ion-icon name="ios-pie"></ion-icon>
                </button>
            </ion-fab-list>
        </ion-fab>
    </ion-row>
    <ion-row *ngIf="showInfos">
        <ion-col>
            <ion-card>
                <ion-card-header class="bold">
                    Nombres de bien trouvés : {{ result?.nbResults }}
                    <br>
                    <br>
                    Prix moyen du m<sup>2</sup> : {{ result?.avgPricePerSquareMeter }} €/m<sup>2</sup>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col *ngFor="let product of result?.allData" col-4>
            <ion-card>
                <div class="corner-ribbon left">{{ product.pricePerSquareMeter }} €/m<sup>2</sup></div>
                <div class="corner-ribbon left bottom">{{ product.transactionType }}</div>
                <div class="corner-ribbon right"><a [href]="product.href" target="_blank">Lien vers l'annonce</a></div>
                <img [src]="product.image" class="realestate-image">

                <ion-row>
                    <ion-col>
                        <button ion-button clear small text-lowercase>
                            <i class="ft-house-size"></i>
                            <div>{{ product.size }} m<sup>2</sup></div>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button clear small text-lowercase>
                            <i class="ft-plans"></i>
                            <div>{{ product.nbRooms }}</div>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button clear small text-lowercase>
                            <i class="ft-bed"></i>
                            <div>{{ product.nbBedrooms }}</div>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button clear small text-lowercase>
                            <i class="ft-coins"></i>
                            <div>{{ product.price }} €</div>
                        </button>
                    </ion-col>
                </ion-row>

            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>